*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;

}
.container{
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center
}
.btn{
    width: 100%;
    border-radius: 10px;
    padding: 5px 15px;
    font-size: 20px;
    color: rgb(241, 241, 244);
    background: rgb(70, 70, 200);
    border: none;
    cursor: pointer;
    font-weight: 600;
    margin-top: 25px;
    
}
.btn1{
    width: 100px;
    border-radius: 10px;
    padding: 5px 15px;
    font-size: 20px;
    color: rgb(241, 241, 244);
    background: rgb(70, 70, 200);
    border: none;
    cursor: pointer;
    font-weight: 600;
    margin-top: 25px;
    

}
.popup{
    display: block;
    align-items: center;
    justify-content: center;
    border: 2px solid blanchedalmond;
    padding: 25px 45px;
    color: rgb(255, 255, 222);
    border-radius: 5px;
    text-align: center;
    position: absolute;
    background: rgba(7, 154, 7, 0.941);
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%)scale(0.1);
    visibility: hidden;
    transition: transform 0.3s,top 0.8s;
    


}

.open-popup{      
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%)scale(1);
    
}


img{
    height: 150px;
    border-radius: 50%;
    border: 2px solid rgb(3, 146, 3);
    margin-top: -100px;
    box-shadow:  0 2px 5px rgba  (0,0,0,0.2);
}